# Binaries for programs and plugins
puti
*.exe
*.exe~
*.dll
*.so
*.dylib

debug

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# work files
.vscode/
.idea

# log
logs/

# upload dir
uploads/*

configs/config.yaml

# the theme building path
puti-themes/
