# Binaries for programs and plugins
puti
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# work files
.vscode/
.idea

# log
logs/

# upload dir
# uploads/*
# !uploads/users/default.jpg

# 先不上传vendor
vendor/*