{{ define "Emma/sticky-sidebar" }}
<div class="sidebar sticky-sidebar">
    <div class="widget widget-category d-block clearfix">
        <h4><span><i class="fa fa-tags"></i>&nbsp;分类</span></h4>
        <ul class="news-list fa-ul ml-4 mb-0 ">
    </div>

    <div class="widget widget-news d-block">
        <h4><span><i class="fa fa-leaf"></i>&nbsp;最新文章</span></h4>
        <ul class="news-list fa-ul ml-4 mb-0 ">
            {{range .Widgets.LatestArticles}}
                <li class="news-item news-item-{{.ID}}">
                    <i class="fa-li fa fa-angle-double-right"></i>
                    <p><a href="{{.GUID}}" title="{{.Title}}">{{.Title}}</a></p>
                </li>
            {{end}}
        </ul>
    </div>
</div>
{{end}}