# server
server:
  runmode: debug                 # 开发模式, debug, release, test
  name: puti              # API Server 的名字
  http_port: 8000                  # HTTP 绑定端口
  https_open: false # 是否开启 HTTPS
  https_port: 8080 # HTTPS 绑定端口
  auto_cert: true # 是否开启自动 https
  tls_cert: configs/server.crt # 如果不开启自动 https，配置的证书
  tls_key: configs/server.key # 如果不开启自动 https，配置的证书
  puti_domain: puti.com  # puti 主应用绑定的域名；例如：example.com

# safety
safety:
  jwt_secret: putidemojwtseCrect013keyideO

# logger
log:
  logger_file_info: logs/info.log
  logger_file_error: logs/error.log
  logger_max_size: 1024 # megabytes
  logger_max_backups: 7
  logger_max_age: 31 # days

# database
db:
  db_type: mysql
  name: db_puti # database name
  addr: database:3306 # host:port
  username: putiroot 
  password: puti123456
  max_open_conns: 150
  max_idle_conns: 20

