# server
server:
  runmode: debug                 # 开发模式, debug, release, test
  name: puti              # API Server 的名字
  http_port: 8000                  # HTTP 绑定端口
  https_open: false # 是否开启 HTTPS
  https_port: 8080 # HTTPS 绑定端口
  tls_cert: configs/server.crt
  tls_key: configs/server.key
  ping_url: http://127.0.0.1:8000   # pingServer 函数请求的API服务器的 ip:port
  ping_max_num: 10           # pingServer 函数 try 的次数

# safety
safety:
  jwt_secret: putidemojwtseCrect013keyideO

# logger
log:
  logger_file: logs/server.log
  logger_max_size: 1024 # megabytes
  logger_max_backups: 7
  logger_max_age: 31 # days

# database
db:
  db_type: mysql
  name: db_puti # database name
  addr: localhost:3306 # host:port
  username: putiroot 
  password: puti123456
  max_open_conns: 150
  max_idle_conns: 20

