name: build

on:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Go test
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.x
        uses: actions/setup-go@v2
        with:
          go-version: ^1.15
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Setup environment configuration
        run: cp ./configs/config.yaml.example ./configs/config.yaml
      - name: Run go test
        run: go test -v -coverprofile=coverage.txt -covermode=atomic ./...
      - name: Upload coverage
        if: ${{ success() }}
        run: bash <(curl -s https://codecov.io/bash)

  build:
    name: Go build
    strategy:
      matrix:
        go: [1.13, 1.15]
    runs-on: ubuntu-latest
    env:
      GOOS: linux
      GOARCH: amd64
      CGO_ENABLED: 0
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^${{ matrix.go }}
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Build
      run: go build -v .
